
<div class="sidebar-menu-container" *ngIf="!hideHeader" [ngClass] = "!hideHeader ? 'login' : 'dashboard' ">
    <div class="logo-side">
        <img src="../assets/images/logo.svg" alt="logo">
    </div>
    <ul class="sidebar-menu">
        <li>
            <button class="new_customer" [routerLink]="['/customer']" routerLinkActive="active"></button>
        </li>
        <li>
            <button class="new_invoice" [routerLink]="['/invoice']" routerLinkActive="active"></button>
        </li>
        <li>
            <button class="refer_friend"></button>
        </li>
        <li>
            <button class="users"></button>
        </li>
        <li>
            <button class="home" [routerLink]="['/home']" routerLinkActive="active"></button>
        </li>
    </ul>
</div>

<div class="main-content" id="main-container" [ngClass] = "!hideHeader ?  'dashboard': 'login'">
    <nav class="navbar fixed-top"  *ngIf="!hideHeader">
        <div class="text-left">
            <span class="username">SUNSHINE ENTERPRISES</span>
            <span class="location">Poonamallee, Chennai</span>
        </div>
        <div class="nav-right">
            <div class="mobile-logo"><img src="../assets/images/logo.svg" alt="logo"></div>
            <ul class="login-right">
                <li>
                    <div class="dropdown">
                        <button type="button" class="language-button dropdown-toggle" data-toggle="dropdown">
                            English
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Hindi</a>
                            <a class="dropdown-item" href="#">French</a>
                        </div>
                    </div>
                </li>
                <li class="hidden-sm">
                    <div class="dropdown">
                        <button type="button" class="account-button dropdown-toggle" data-toggle="dropdown" [routerLink]="['/myaccount']">
                            My Account
                        </button>
                        <!-- <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Name</a>
                            <a class="dropdown-item" href="#">Phone</a>
                            <a class="dropdown-item" href="#">Email</a>
                            <a class="dropdown-item" href="#">Address</a>
                        </div> -->
                    </div>
                </li>
                <li class="hidden-sm">
                    <button type="button" class="logout-button" [routerLink]="['/']">
                        Logout
                    </button>
                </li>
                <li class="hidden-desktop">
                    <button type="button" class="toggle-button"></button>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-outlet" [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
        <router-outlet #o="outlet"></router-outlet>
    </div>
</div>