.sidebar-menu-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 106px;
    z-index: 9999;
    height: 100%;
    padding: 20px 0;
    background: transparent linear-gradient(180deg, rgba(39, 58, 96, 1) 0%, rgba(65, 90, 142, 1) 100%) 0 0 no-repeat padding-box
}

.logo-side {
    height: 102px;
    margin: 0;
    z-index: 99;
    position: relative
}

.logo-side img {
    box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, .2);
    position: absolute;
    top: 0;
    right: -25px;
    z-index: 999;
}

.sidebar-menu {
    padding: 15px 0;
    margin: 0;
    list-style: none
}

.sidebar-menu li button {
    display: block;
    background: transparent linear-gradient(180deg, rgba(39, 58, 96, 1) 0%, rgba(65, 90, 142, 1) 100%) 0 0 no-repeat padding-box;
    padding: 10px 0;
    height: 50px;
    width: 100%;
    border: none;
    margin: 5px 0;
    transition: .2s linear;
}

.sidebar-menu li button.new_customer {
    background: url(../assets/images/new_customer.png) no-repeat center
}

.sidebar-menu li:hover button.new_customer {
    background: url(../assets/images/new_customer_active.png) no-repeat center;
    transition: .2s linear;
}

.sidebar-menu li button.new_customer.active {
    background: url(../assets/images/new_customer_active.png) no-repeat center
}

.sidebar-menu li button.new_invoice {
    background: url(../assets/images/new_invoice.png) no-repeat center
}

.sidebar-menu li:hover button.new_invoice {
    background: url(../assets/images/new_invoice_active.png) no-repeat center;
    transition: .2s linear;
}

.sidebar-menu li button.new_invoice.active {
    background: url(../assets/images/new_invoice_active.png) no-repeat center
}

.sidebar-menu li button.refer_friend {
    background: url(../assets/images/refer_friend.png) no-repeat center
}

.sidebar-menu li:hover button.refer_friend {
    background: url(../assets/images/refer_friend_active.png) no-repeat center;
    transition: .2s linear;
}

.sidebar-menu li button.refer_friend.active {
    background: url(../assets/images/refer_friend_active.png) no-repeat center
}

.sidebar-menu li button.users {
    background: url(../assets/images/users.png) no-repeat center
}

.sidebar-menu li:hover button.users {
    background: url(../assets/images/users_active.png) no-repeat center;
    transition: .2s linear;
}

.sidebar-menu li button.users.active {
    background: url(../assets/images/users_active.png) no-repeat center
}

.sidebar-menu li button.home {
    background: url(../assets/images/home.png) no-repeat center
}

.sidebar-menu li:hover button.home {
    background: url(../assets/images/home_active.png) no-repeat center;
    transition: .2s linear;
}

.sidebar-menu li button.home.active {
    background: url(../assets/images/home_active.png) no-repeat center
}

.sidebar-menu li button.products {
    background: url(../assets/images/products.png) no-repeat center
}

.sidebar-menu li:hover button.products {
    background: url(../assets/images/products_active.png) no-repeat center;
    transition: .2s linear;

}

.sidebar-menu li button.products.active {
    background: url(../assets/images/products_active.png) no-repeat center
}

.sidebar-menu li button.refer_product {
    background: url(../assets/images/refer_product.png) no-repeat center
}

.sidebar-menu li:hover button.refer_product {
    background: url(../assets/images/refer_product_active.png) no-repeat center;
    transition: .2s linear;

}

.sidebar-menu li button.refer_product.active {
    background: url(../assets/images/refer_product_active.png) no-repeat center
}



.main-content {
    position: relative;
    width: calc(100% - 106px);
    min-height: calc(100vh - 130px);
    left: 106px
}

.main-content.login {
    width: 100%;
    left: 0
}

.main-content.login .content-outlet {
    margin: 0
}

nav.navbar.fixed-top {
    width: calc(100% - 106px);
    left: 106px;
    padding: 25px 20px 10px 80px;
    background: #fff
}

nav.navbar.fixed-top:after {
    content: '';
    display: block;
    width: calc(100% - 100px);
    border-bottom: 2px solid rgba(174, 174, 174, .3);
    position: absolute;
    bottom: 0
}

.dropdown .dropdown-menu {
    transition: all .4s;
    overflow: hidden;
    transform-origin: top center;
    transform: scale(1, 0);
    display: block;
    top: 27px;
    padding: 0
}

.dropdown:hover .dropdown-menu {
    transform: scale(1, 1)
}

.dropdown-toggle::after {
    display: none
}

.dropdown-item {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgba(45, 45, 45, .80);
    font-size: 13px
}

.dropdown-item:hover {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgba(18, 83, 161, 1);
    font-size: 13px;

}

button.language-button {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgba(45, 45, 45, .80);
    font-size: 13px;
    float: right;
    background: transparent url(/assets/images/dropdown-arow.png)no-repeat 95% 9px;
    border: none;
    padding: 7px 30px 7px 10px;
    transition: .2s linear;
}

button.language-button:hover {
    color: rgba(18, 83, 161, 1);
    transition: .2s linear;
}

ul.login-right {
    display: block
}

ul.login-right li {
    display: inline-block;
    float: left
}

button.account-button {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgba(45, 45, 45, .80);
    font-size: 13px;
    background: transparent url(/assets/images/my_profile.png)no-repeat 0 4px;
    border: none;
    padding: 5px 10px 5px 25px;
    margin: 0 25px
}

button.account-button:hover,
button.logout-button:hover {
    color: rgba(18, 83, 161, 1);
    transition: .2s linear;
}

button.logout-button {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgba(45, 45, 45, .80);
    font-size: 13px;
    background: transparent url(/assets/images/logout.png)no-repeat 0 4px;
    border: none;
    padding: 5px 0 5px 25px
}

button.toggle-button {
    background: #fff url(/assets/images/logout.png)no-repeat 0 4px;
    border: none;
    padding: 15px;
    margin: 0 0 0 25px;
    display: none
}

.text-left span.username {
    text-align: left;
    font: 18px/50px HusqvarnaGothic-Bold;
    letter-spacing: 0;
    color: #273A60;
    text-transform: uppercase
}

.text-left span.location {
    text-align: left;
    font: 14px/35px Roboto;
    font-weight: 400;
    letter-spacing: 0;
    color: #8B8B8B;
    padding: 0 15px
}

.content-outlet {
    margin: 84px 0 20px
}

.hidden-desktop,
.mobile-logo {
    display: none
}



@media (max-width:663px) {
    .hidden-sm {
        display: none !important
    }

    .hidden-desktop,
    .mobile-logo {
        display: block !important
    }

    .sidebar-menu-container {
        display: none
    }

    .main-content {
        position: relative;
        width: 100%;
        min-height: calc(100vh - 130px);
        left: 0
    }

    .content-outlet {
        /* padding: 155px 0 20px; */
        background: rgba(39, 58, 96, 1);
        margin: 0
    }

    

    body {
        background: rgba(39, 58, 96, 1);
        margin: 0
    }

    nav.navbar.fixed-top {
        width: 100%;
        left: 0;
        padding: 25px 30px 10px;
        background: rgba(39, 58, 96, 1)
    }

    nav.navbar.fixed-top:after {
        width: calc(100% - 60px)
    }

    .text-left {
        text-align: left !important;
        width: 100%;
        order: 2;
        margin: 15px 0
    }

    .home-wrapper {
        padding: 0 30px 10px
    }

    .nav-right {
        width: 100%
    }

    ul.login-right {
        float: right
    }

    .mobile-logo {
        width: 50px;
        height: 50px;
        float: left
    }

    .mobile-logo img {
        width: 50px;
        height: 50px
    }

    button.language-button {
        color: #fff
    }

    .text-left span.username {
        font: 18px/25px HusqvarnaGothic-Bold;
        color: #fff;
        display: block
    }

    .text-left span.location {
        font: 14px/14px Roboto;
        color: rgba(255, 255, 255, .8);
        padding: 0
    }

    .home-wrapper {
        padding: 30px 30px 20px
    }

    .dropdown .dropdown-menu {
        left: -75px;
    }
}