<div class="invoice-wrapper">
    <div class="content-row">
        <h4 class="greetings">My Account</h4>
        <div class="column_split">
            <div class="about-dealer">
                <button>edit</button>
                <div class="row">
                    <div class="name-label col-md-3">Name </div>
                    <div class="name-field col-md-9"><input type="text" value="Bharat Raj Kumar" disabled></div>
                </div>
                <div class="row">
                    <div class="name-label col-md-3">Email </div>
                    <div class="name-field col-md-9"><input type="email" value="bharatbc@gmail.com" disabled></div>
                </div>
                <div class="row">
                    <div class="name-label col-md-3">Address </div>
                    <div class="name-field col-md-9"><textarea type="text" disabled>Building Contractor, Perambur, Chennai</textarea></div>
                </div>
            </div>

        </div>

    </div>
    <!-- content new row -->
    </div>