<div class="product-wrapper">
    <div class="products-row">
        <h4 class="greetings">MY PRODUCTS</h4>
        
        <div class="product-list">
            <div class="product-image"><img src="../../assets/images/prod1.png" alt="product"></div>
            <div class="product-name">Battery BLi10</div>
            <div class="product-category">Accessories</div>
            <div class="product-purchasedate">Purchased On Aug 2021</div>
            <div class="product-options">
                <button class="invoice" tooltip="Invoice" placement="top" show-delay="150"></button>
                <button class="share" tooltip="Refer Friends" placement="top" show-delay="150"></button>
            </div>
        </div>

        <div class="product-list">
            <div class="product-image">
                <img src="../../assets/images/prod2.png" alt="product">
            </div>
            <div class="product-name">353 965 16 97-18</div>
            <div class="product-category">Chainsaws</div>
            <div class="product-purchasedate">Purchased On Jan 2028</div>
            <div class="product-options">
                <button class="invoice" tooltip="Invoice" placement="top" show-delay="150"></button>
                <button class="share" tooltip="Refer Friends" placement="top" show-delay="150"></button>
            </div>
        </div>

        <div class="product-list">
            <div class="product-image">
                <img src="../../assets/images/prod3.png" alt="product">
            </div>
            <div class="product-name">372 XP 965 70 26-38</div>
            <div class="product-category">Chainsaws</div>
            <div class="product-purchasedate">Purchased On Aug 2023</div>
            <div class="product-options">
                <button class="invoice" tooltip="Invoice" placement="top" show-delay="150"></button>
                <button class="share" tooltip="Refer Friends" placement="top" show-delay="150"></button>
            </div>
        </div>


        <div class="product-list">
            <div class="product-image">
                <img src="../../assets/images/prod4.png" alt="product">
            </div>
            <div class="product-name">Blower attachment BA101</div>
            <div class="product-category">Blower attachment</div>
            <div class="product-purchasedate">Purchased On Aug 2021</div>
            <div class="product-options">
                <button class="invoice" tooltip="Invoice" placement="top" show-delay="150"></button>
                <button class="share" tooltip="Refer Friends" placement="top" show-delay="150"></button>
            </div>
        </div>

    </div>
</div>