<div class="home-wrapper" >
    <h4 class="greetings">Good going, Rakesh!</h4>
    <div class="account_summary">
        <p>Account summary : <span>OCT 2019</span></p>
        <div class="box_menu joint_box">
            <ul>
                <li>
                    <div class="box-icon"></div>
                    <div class="content_right">
                        <div class="count_number">30</div>
                        <div class="count_text">New Customers</div>
                    </div>
                </li>
                <li>
                    <div class="box-icon"></div>
                    <div class="content_right">
                        <div class="count_number">3400</div>
                        <div class="count_text">Redemptions</div>
                    </div>
                </li>
            </ul>
            <div class="referral_count">
                You are 10 referrals away from winning a surprise.
            </div>
        </div>
        <div class="box_menu seperate_box">
            <a class="seperate_menu_button" [routerLink]="['/customer']">
                <div class="image-icon"></div>
                 Add New Customer
            </a>
            <a class="seperate_menu_button" [routerLink]="['/invoice']">
                <div class="image-icon"></div>
                 Add New Sale Invoice
            </a>
        </div>
        
    </div>
   
</div>


