<div class="home-wrapper" *ngIf="dealer">
    <h4 class="greetings">Good going, Rakesh!</h4>
    <div class="account_summary">
        <p>Account summary : <span>OCT 2019</span></p>
        <div class="box_menu joint_box">
            <ul>
                <li>
                    <div class="box-icon"></div>
                    <div class="content_right">
                        <div class="count_number">30</div>
                        <div class="count_text">New Customers</div>
                    </div>
                </li>
                <li>
                    <div class="box-icon"></div>
                    <div class="content_right">
                        <div class="count_number">3400</div>
                        <div class="count_text">Redemptions</div>
                    </div>
                </li>
            </ul>
            <div class="referral_count">
                You are 10 referrals away from winning a surprise.
            </div>
        </div>
        <div class="box_menu seperate_box">
            <a class="seperate_menu_button" [routerLink]="['/customer']">
                <div class="image-icon"></div>
                 Add New Customer
            </a>
            <a class="seperate_menu_button" [routerLink]="['/invoice']">
                <div class="image-icon"></div>
                 Add New Sale Invoice
            </a>
        </div>
        
    </div>
   
</div>

<div class="home-wrapper" *ngIf="customer">
    <h4 class="greetings">Greetings Bharat!</h4>
    <div class="account_summary">
        <p>Account summary :
            <span>OCT 2019</span>
        </p>
        <div class="box_menu joint_box">
            <div class="grey-box">
                <div class="reward-point-icon">Reward Points</div>
                <ul class="customer-points">
                    <li>
                        <h6 class="title">Total</h6>
                        <h6 class="title-count">15,900</h6>
                    </li>
                    <li>
                        <h6 class="title">Redeemed</h6>
                        <h6 class="title-count">10,000</h6>
                    </li>
                    <li>
                        <h6 class="title">Balance</h6>
                        <h6 class="title-count"><b>5,900</b></h6>
                    </li>
                </ul>
            </div>

            <div class="referral_count">
             Earn more points by referring friends and updating the purchases of Husqvarna products
            </div>
        </div>
        <div class="box_menu seperate_box">
            <a class="seperate_menu_button" [routerLink]="['/referafriend']">
                <div class="image-icon"></div>
                 Refer A Friend
            </a>
            <a class="seperate_menu_button" [routerLink]="['/products']">
                <div class="image-icon"></div>
                 My Products
            </a>
        </div>

    </div>

</div>

