.content-row {
    padding: 50px 20px 50px 80px;
    overflow: auto;
}

.content-row.grey-backgorund {
    background: rgba(244, 244, 244, .8);
    padding: 50px 20px 50px 80px;
    overflow: auto;
}

h4.greetings {
    text-align: left;
    font: 22px/25px HusqvarnaGothic-Bold;
    color: rgba(18, 83, 161, 1);
    margin-bottom: 20px;
}

.formrow {
    width: 100%;
    clear: both;
}

.user-input-wrp {
    position: relative;
    margin-bottom: 20px;
}

.user-input-wrp .inputText {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid #AEAEAE;
    box-shadow: none !important;
    padding: 20px 0 10px;
    font-size: 18px;
    font-family: 'HusqvarnaGothic-Regular';
    color: #161616;
}

.user-input-wrp select.select.inputText {
    font-size: 16px;
    font-family: 'HusqvarnaGothic-Regular';
    color: #2D2D2D;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    background: transparent url(../../assets/images/dropdown-arow.png)no-repeat 95% 25px;
    padding: 20px 0 14px;
}

.user-input-wrp .inputText:focus {
    border-bottom: 2px solid #8B8B8B;
}

.user-input-wrp .floating-label {
    position: absolute;
    pointer-events: none;
    top: 18px;
    left: 0px;
    transition: 0.2s ease all;
    font-size: 16px;
    font-family: 'HusqvarnaGothic-Regular';
    color: #2D2D2D;
}

.user-input-wrp input:focus~.floating-label,
.user-input-wrp input:not(:focus):valid~.floating-label {
    top: 0px;
    left: 0px;
    font-size: 14px;
    opacity: 1;
}

.column1_2 {
    width: 330px;
    display: block;
    float: left;
    margin-right: 50px;
}

.column1_1 {
    width: 710px;
    display: block;
    float: left;
    margin-right: 50px;
}

.input-row {
    display: flex;
    border-top: 1px dashed rgba(112, 112, 112, .3);
    padding: 10px 0px 5px;
}

.input-row:last-child {

    border-bottom: 1px dashed rgba(112, 112, 112, .3);

}

.input-row .ng-autocomplete {
    width: 65%;
}

.input-count {
    width: calc(35% - 30px);
}

input#count {
    width: 50px;
    height: 29px;
    float: left;
    text-align: center;
    border: 1px solid transparent;
    background: transparent;
    color: rgba(22, 22, 22, 1);
    font-size: 17px;
    line-height: 29px;
    font-family: 'HusqvarnaGothic-Regular';
}

.input-count ul {
    display: inline-block;
    border: 1px solid rgba(112, 112, 112, 1);
    border-radius: 14px;
}

.input-count ul li {
    display: inline-block;
    float: left;
    border: none;
    width: 35px;
    height: 27px;
}

.input-count ul li button {
    background: transparent;
    border: none;
    padding: 0px 5px;
    position: relative;

}

.input-count ul li:first-child button i {
    position: absolute;
    top: -15px;
    font-size: 20px;
    color: rgba(112, 112, 112, 1);

}

.input-count ul li:last-child button i {
    position: absolute;
    top: -10px;
    font-size: 20px;
    color: rgba(112, 112, 112, 1);

}

.input-row .delete-row {
    width: 30px;
}

.input-row .delete-row button {
    background: transparent;
    border: none;
    padding: 0;
}

.input-row .delete-row i {
    font-size: 20px;
    color: rgba(112, 112, 112, 1);
    line-height: 30px;
}

.ng-autocomplete .autocomplete-container {
    box-shadow: none !important;
}

.ng-autocomplete .autocomplete-container .input-container input {
    font-size: 16px;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    outline: 0;
    background-color: transparent;
    color: rgba(0, 0, 0, .87);
    width: 100%;
    padding: 0 15px;
    line-height: 25px;
    height: auto;
    font-family: 'HusqvarnaGothic-Bold';
}

.upload-invoice {
    clear: both;
    margin: 40px 0px 0;

}

.upload-invoice button {
    clear: both;
    border: 1px solid rgba(174, 174, 174, 1);
    border-radius: 4px;
    font-size: 16px;
    line-height: 25px;
    font-family: 'HusqvarnaGothic-Regular';
    background: transparent;
    padding: 10px 15px 10px 45px;
    background: transparent url(../../assets/images/invoice.png) no-repeat 10px 10px;
    transition: .2s linear;
}

.upload-invoice button:hover {
    border: 1px solid rgba(242, 84, 32, 1);
    color: rgba(242, 84, 32, 1);
    transition: .2s linear;
    background: transparent url(../../assets/images/invoice_active.png) no-repeat 10px 10px;
}

.refered-text {
    font: 17px/25px HusqvarnaGothic-Bold;
    color: rgba(18, 83, 161, 1);
    opacity: 1;
    display: inline-block;
    float: left;
    margin-right: 35px;
}

.content-row.referredby-row{
    overflow: visible;
}

.referredby {
    overflow: visible;
    min-height: 50px;
}

.referredby input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid #AEAEAE;
    box-shadow: none !important;
    padding: 5px 0 10px;
    font-size: 18px;
    font-family: 'HusqvarnaGothic-Regular';
    color: #161616;
    background: transparent url(../../assets/images/contacts.png) no-repeat 98% 5px;

}

.action-form-button {
    clear: both;
    margin: 40px 0 0;

}

.action-form-button button {
    font: 15px/15px HusqvarnaGothic-Bold;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    background: rgba(242, 84, 32, 1);
    padding: 18px 87px;
    text-align: center;
    display: inline-block;
    border: none;
    transition: 0.2s ease all;
}

.action-form-button button:hover {
    background: rgb(226, 90, 46);
    transition: 0.2s ease all;
}

.ng-autocomplete.customer-mobile-search,
.ng-autocomplete.customer-mobile-search .ng-autocomplete {
    width: 100%;
}



@media (max-width:900px) {
    .column1_1 {
        width: 100%;
        display: block;
        float: left;
        margin-right: 0;
    }

    .content-row {
        background: #fff;
    }
}

@media (max-width:663px) {
    .content-row {
        padding: 50px 30px;
        overflow: auto;
    }

    .content-row.grey-backgorund {
        padding: 50px 30px;
        overflow: auto;
    }

    .column1_2 {
        width: 100%;
        margin-right: 0;
    }

    .input-row .ng-autocomplete {
        width: 55%;
    }

    .input-count {
        width: calc(45% - 30px);
    }

    .referredby input {
        margin: 10px 0 0;
    }
}

@media (max-width:360px) {
    .input-count ul li {
        width: 25px;
        height: 27px;
    }

    .input-count ul li:first-child button i {
        position: absolute;
        top: -12px;
        font-size: 17px;
        color: rgba(112, 112, 112, 1);
    }

    .input-count ul li:last-child button i {
        position: absolute;
        top: -7px;
        font-size: 17px;
        color: rgba(112, 112, 112, 1);
    }

    .action-form-button button {
        width: 100%;
    }

}